body{
  background: rgb(1, 146, 103);
}
.container{
  max-width: 400px;
}
input[type=text]::placeholder{
  color: #fff;
  opacity: 0.8;
}
input[type=text],
input[type=text]:focus{
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.1);
  border: none;
  /* max-width: 400px; */
}
.todos li{
  background: #00C897;
  color: #fff;
}
.todos li i{
  color: #FF0000;
}
.delete{
  cursor: pointer;
}